SITE_NAME=VorteX Servers
PELICAN_API_BASE_URL=https://pelican.example.com/api/client
PELICAN_CLIENT_API_TOKEN=
NEXT_PUBLIC_PELICAN_PANEL_URL=https://pelican.example.com
GITHUB_REPO=tekkifox/vortexservers_co_uk
GITHUB_OAUTH_BASE_URL=http://localhost:3000
GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=
GITHUB_CONTENT_TOKEN=
NODE_ENV=development